{% extends 'base.html.twig' %}

{% block title %}Bien-etre
{% endblock %}

{% block titreh1 %}
	<h1>Détendez-vous</h1>
{% endblock %}

{% block body %}
	<div>
		<p>Affichage du caroussel + zone de recherche</p>
	</div>
	<div>
		<p>Affichage des 4 services mis en avant</p>
	</div>
	<asside>
		<div>
			<p>Affichage asside du service du mois/p>
			</p>
		</div>
		<div>
			<p>Affichage aussi dans l'asside de la recherche google maps</p>
		</div>
	</asside>
{% endblock %}
