{% extends 'base.html.twig' %}

{% block title %}Bien-etre
{% endblock %}

{% block titreh1 %}
	<h1>Bien-être</h1>
{% endblock %}

{% block body %}
	<div class="main-search-bar-wrap">
		<div class="main-search-bar">
			<input type="text" class="main-search-input" placeholder="Rechercher sur le site..">
			<button type="submit" class="main-search-button">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
	<div
		class="carousel">{# Images gérées par l'admin #}
	</p>
	<ul class="slides">
		<input type="radio" name="radio-buttons" id="img-1" checked/>
		<li class="slide-container">
			<div class="slide-image">
				<img src="{{asset ('images/wellness/wellness1.jpeg')}}">
			</div>
			<div class="carousel-controls">
				<label for="img-3" class="prev-slide">
					<span>&lsaquo;</span>
				</label>
				<label for="img-2" class="next-slide">
					<span>&rsaquo;</span>
				</label>
			</div>
		</li>
		<input type="radio" name="radio-buttons" id="img-2"/>
		<li class="slide-container">
			<div class="slide-image">
				<img src="{{asset ('images/wellness/wellness2.jpeg')}}">
			</div>
			<div class="carousel-controls">
				<label for="img-1" class="prev-slide">
					<span>&lsaquo;</span>
				</label>
				<label for="img-3" class="next-slide">
					<span>&rsaquo;</span>
				</label>
			</div>
		</li>
		<input type="radio" name="radio-buttons" id="img-3"/>
		<li class="slide-container">
			<div class="slide-image">
				<img src="{{asset ('images/wellness/wellness3.jpeg')}}">
			</div>
			<div class="carousel-controls">
				<label for="img-2" class="prev-slide">
					<span>&lsaquo;</span>
				</label>
				<label for="img-1" class="next-slide">
					<span>&rsaquo;</span>
				</label>
			</div>
		</li>
		<div class="carousel-dots">
			<label for="img-1" class="carousel-dot" id="img-dot-1"></label>
			<label for="img-2" class="carousel-dot" id="img-dot-2"></label>
			<label for="img-3" class="carousel-dot" id="img-dot-3"></label>
		</div>
	</ul>
</div>
<article class="last-4-registrated">
	<p>Les 4 derniers prestataires enregistrés</p>
</article>
<asside>
	<article class="highlight-service">
		<p>Affichage asside (sauf en mode smartphone) du service du mois</p>
	</article>
	<article class="google-maps">
		<p>Affichage aussi dans l'asside de la recherche google maps</p>
	</article>
</asside>{% endblock %}
