<h1>Bonjour, pour confirmer votre inscription veuillez verifier votre email</h1>

<p>
    Cliquez sur le lien suivant:<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expierera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci, à tout de suite sur Bien-être.com !
</p>
