<h1>Bonjour veuillez verifier votre email!</h1>

<p>
    Veuillez vérifier votre adresse email en cliquant sur le lien suivant:<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expierera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
