{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block titreh1 %}
	<h1>Fiche service</h1>
{% endblock %}


{% block body %}
	<article>
		<h2>{{service.nom}}</h2>
		<p>{{service.description}}</p>

	</article>

{% endblock %}
