{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}
{% block titreh1 %}
	Services proposés
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}
			

{% block body %}
	<div class="service-list-wrap">
				{% for categorie in categories %}
				{% if categorie.valide == 1 %}
					<a class="service-card" href="{{path('detailService',{id : categorie.id})}}">
						<h3>{{categorie.nom}}</h3>
						<img src="{{asset ('images/services/service2.png')}}" alt="photo service">
					</a>
				{% endif %}
		{% endfor %}
	</div>
{% endblock %}
