

  .l-background-image-wrap{
    background-image: url('../images/wallpaper/wallpaper-main.jpeg');
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
  }


  .l-main-logo{
    display: flex;
    justify-content: center;
    margin: 6rem auto 0 auto;

    img{
    width: 12rem;
    }
  }