

  .l-background-image-wrap{
    background-image: url('../images/wallpaper/wallpaper-main.jpeg');
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
  }


  .l-main-logo{
    display: flex;
    justify-content: center;
    margin: 6rem auto 0 auto;

    img{
    width: 12rem;
    }
  }



  //************************************************************************************************

  @media screen and (min-width: $tablet-break){


    .l-background-image-wrap{
      background-image: url('../images/wallpaper/wallpaper-main2.jpeg');
      background-size: cover;
    }

  }



  //************************************************************************************************

  @media screen and (min-width: $laptop-break){

    .l-background-image-wrap {
      background-image: url('../images/wallpaper/wallpaper-main2.jpeg');

    }
  }