

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


body {
    font-family: 'montserrat',roboto;
    background-color: $third-color;
  }

  .l-background-image-wrap{
    background-image: url('../images/wallpaper/wallpaper-main.jpeg');
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
  }


  .l-main-logo{
    display: flex;
    justify-content: center;
    margin: 6rem auto 0 auto;

    img{
    width: 12rem;
    }
  }


// titre principal
.ease-in-title {
  position: absolute;
  top: 20rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  // annimation du titre (voir annimation slide-in)
  h1 {
    color:$main-color;
    text-shadow: 1px 1px $secondary-color;
    font-size: 3rem;
    animation: slide-in 900ms ease-in-out;
    animation-delay: 300ms;
  }
}

.l-main-wrap{
  margin: 0 auto;
  max-width: 1200px;
}


.l-footer{
  margin: 4rem 0 2rem 0;
}





//************************************************************************************************

  @media screen and (min-width: $tablet-break){

    .l-main-logo{
      margin: 7.5rem auto 0 auto;
    }

    .ease-in-title {

      h1 {
        font-size: 4rem;
      }
    }
  

  }



//************************************************************************************************

  @media screen and (min-width: $laptop-break){

    .l-background-image-wrap {
      background-image: url('../images/wallpaper/wallpaper-main2.jpeg');

    }
  }