

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


body {
    font-family: 'montserrat',roboto;
    background-image: url('../images/wallpaper1.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }


  .l-main-logo{
    position: absolute;
    top: 6.5rem;
    left: 35%;
    margin: auto;

    img{
    border-radius: 65px;
    width: 9rem;
  }
  }


// titre principal
.ease-in-title {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    color:$secondary-color;
    text-shadow: 1px 4px #a493926c;
    font-size: 3.5rem;
    animation: shotup 1100ms ease-in-out;
    animation-delay: 400ms;
  }
}

.l-main-wrap{
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px;
}


.l-footer{
  margin: 4rem 0 2rem 0;
}



@media screen and (min-width: $tablet-break){

  .ease-in-title {

    h1 {
      font-size: 4rem;
    }
  }
}

  

//************************************************************************************************

  @media screen and (min-width: $tablet-break){

    .l-main-logo{
      width: 8rem;
      position: relative;
      left: 60%;
      top: 2rem;
    }
  }





//************************************************************************************************

  @media screen and (min-width: $laptop-break){

    .l-main-logo{
      width: 8rem;
      position: relative;
      left: 75%;
      top: 0;
    }
  }