// largeur de la barre de recherche
.main-search-bar-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  padding: 1.5rem 0 0 0;
  margin: 0 0 0 30%;
}

// input de la barre et bordures
.main-search-input {
  width: 49%;
  margin: 0 0 0.5rem 0;
  border: 1px solid $third-color;
  height: 2rem;
  border-radius: 10px;
  outline: none;
  color: $third-color;
  background-color: $secondary-transparent;
}

// couleur du texte dans le placeholder
.main-search-input::placeholder {
  color: $third-color;
  padding: 0 0 0 0.5rem;
}

// couleur du texte ecrit dans la barre de recherche
.main-search-input:focus {
  color: $darker-third-color;
}

// gestion du bouton
.main-search-button {
  width: 49%;
  padding: 0rem;
  margin: 0 0 0.5rem 0;
  height: 2rem;
  border: 1px solid $third-color;
  background: $third-color;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    color: $darker-pink;
  }
}

// ****************************************************************

@media screen and (min-width: $laptop-break) {
  .main-search-bar-wrap {
    position: relative;
    top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    padding: 0;
    margin: 1rem auto 0 auto;
  }

  .main-search-input {
    width: 39%;
    height: 1.5rem;
    margin: 0 1rem 0.5rem 0;
  }

  .main-search-button {
    width: 39%;
    height: 1.5rem;
    margin: 0 1rem 0.5rem 0;
  }
}
