

// gestion de la navbar en mode smartphone

// Icone hamburger
.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: $main-color;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 3%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255,255,255,0.2);

  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}


.wrap-menu{
  height: 50rem;
}

.sticky-menu{
  position: sticky;
}

// Menu 
.l-main-nav {
  background: $third-color;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
 
   transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
   transition-delay: 100ms;
  ul {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    a{
      list-style: none;
      font-size: 20px;
      color: $secondary-color;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
  }
}

 nav.show {
   width: 60%;
   opacity: 1;
}


.dark-pink {
  position: absolute;
  top: 0;
  left: 0;
  background: $dark-third-color;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-pink.slide {
  width: 60%;
  opacity: 1;
}



// ****************************************************************


@media screen and (min-width: $tablet-break) {


  .wrap-menu{
    max-width: 700px;
  }

    .hamburger-icon{
      display: none;
    }

    .dark-pink{
      display: none;
    }

    .l-main-nav {
      background: unset;
      opacity: 100%;
      transition: unset;
      

      ul {
        top: 0%;
        left: 0%;
        margin: 0 0 0 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        li{
          padding: 0 0.5rem;
        }

        a{
          list-style: none;
          font-size: 0.8rem;
          color: $main-color;
          text-transform: unset;
          letter-spacing: 1px;
          }

          a:hover{
            color: $secondary-color;
          }
        }
      }

      nav.show {
        width: 0%;
     }


    }



    // ****************************************************************


    @media screen and (min-width: $tablet-break){

      .wrap-menu{
        max-width: 1000px;
        margin: 0 auto;
      }
    }