
// media queries
$tablet-break :576px;
$laptop-break :992px;


// colors
$main-color: #a0541c;
$secondary-color: #def5f6;
$third-color: #d2a1a3;
$dark-third-color: #c0898b;
$darker-third-color: #bd797b;
$blue-light: #bbf3f4;


//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
