
// media queries
$tablet-break :43rem;
$laptop-break :62rem;


// colors
$main-color: #a0541c;
$secondary-color: #def5f6;
$secondary-tansparent: #def5f6a5;
$blue-light: #bbf3f4;


$third-color-light: #edd9da;
$third-color: #d2a1a3;
$dark-third-color: #c0898b;
$darker-third-color: #bd797b;
$darker-pink: #b96d70;

$smooth-minth: #a1d2d0;

// a tester:
$tr: #a3d2a1;
$vd: #a1a3d2;



//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
