{% extends 'base.html.twig' %}

{% block title %}Reinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% block titreh1 %}Réinitialisation mot de passe{% endblock %}

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
            Entrez votre adresse email afin de recevoir un lien de réinitialisation pour votre mot de passe.
            </small>
        </div>

        <button class="">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}
