{% extends 'base.html.twig' %}

{% block title %}Reinitialisation mot de passe{% endblock %}

{% block body %}
    <h1>Reinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reinitialiser</button>
    {{ form_end(resetForm) }}
{% endblock %}
