@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}
@keyframes shotup {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
body {
  font-family: "montserrat", roboto;
}

.l-main-logo img {
  border-radius: 12px 12px 12px 50px;
  width: 9rem;
  position: relative;
  left: 65%;
  top: 1rem;
}

@media screen and (min-width: 576px) {
  .l-main-logo {
    width: 8rem;
    position: relative;
    left: 60%;
    top: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .l-main-logo {
    width: 8rem;
    position: relative;
    left: 75%;
    top: 0;
  }
}
.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 3px;
  background-color: #1b6866;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 3%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
}
.hamburger-icon:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.icon-1.a {
  transform: rotate(40deg);
}

.icon-3.b {
  transform: rotate(-40deg);
}

.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

.wrap-menu {
  height: 32rem;
}

.l-main-nav {
  background: #4e9b7a;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
.l-main-nav ul {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 35%;
}
.l-main-nav ul a {
  list-style: none;
  font-size: 24px;
  color: #ffd960;
  line-height: 2.2;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

nav.show {
  width: 60%;
  opacity: 1;
}

.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #1b6866;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-blue.slide {
  width: 60%;
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .wrap-menu {
    max-width: 700px;
  }
  .hamburger-icon {
    display: none;
  }
  .dark-blue {
    display: none;
  }
  .l-main-nav {
    background: unset;
    opacity: 100%;
    transition: unset;
  }
  .l-main-nav ul {
    top: 0%;
    left: 0%;
    margin: 0 0 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .l-main-nav ul li {
    padding: 0 0.5rem;
  }
  .l-main-nav ul a {
    list-style: none;
    font-size: 0.8rem;
    color: #1b6866;
    text-transform: unset;
    letter-spacing: 1px;
  }
  .l-main-nav ul a:hover {
    color: #4e9b7a;
  }
  nav.show {
    width: 0%;
  }
}
@media screen and (min-width: 576px) {
  .wrap-menu {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.ease-in-title {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ease-in-title h1 {
  color: #1b6866;
  font-size: 3rem;
  animation: shotup 900ms ease-in-out;
  animation-delay: 300ms;
}

@media screen and (min-width: 576px) {
  .ease-in-title h1 {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=screen.css.map */
