@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  90% {
    transform: translateY(-10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
body {
  font-family: "montserrat", roboto;
  background-color: #d2a1a3;
}

.l-background-image-wrap {
  background-image: url("../images/wallpaper/wallpaper-main.jpeg");
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
}

.l-main-logo {
  display: flex;
  justify-content: center;
  margin: 6rem auto 0 auto;
}
.l-main-logo img {
  width: 12rem;
}

.ease-in-title {
  position: absolute;
  top: 20rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ease-in-title h1 {
  color: #a0541c;
  text-shadow: 1px 1px #def5f6;
  font-size: 3rem;
  animation: slide-in 900ms ease-in-out;
  animation-delay: 300ms;
}

.l-main-wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.l-footer {
  margin: 4rem 0 2rem 0;
}

@media screen and (min-width: 576px) {
  .l-main-logo {
    margin: 7.5rem auto 0 auto;
  }
  .ease-in-title h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .l-background-image-wrap {
    background-image: url("../images/wallpaper/wallpaper-main2.jpeg");
  }
}
.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 3px;
  background-color: #a0541c;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 3%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
}
.hamburger-icon:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.icon-1.a {
  transform: rotate(40deg);
}

.icon-3.b {
  transform: rotate(-40deg);
}

.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

.wrap-menu {
  height: 25rem;
}

.sticky-menu {
  position: sticky;
}

.l-main-nav {
  background: #c0898b;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
.l-main-nav ul {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 20%;
}
.l-main-nav ul a {
  list-style: none;
  font-size: 20px;
  color: #def5f6;
  line-height: 2.2;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

nav.show {
  width: 80%;
  height: 35rem;
  opacity: 1;
  border-radius: 10px;
}

.dark-pink {
  position: absolute;
  top: 0;
  left: 0;
  background: #bd797b;
  height: 35rem;
  width: 0%;
  transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
  border-radius: 10px;
}

.dark-pink.slide {
  width: 80%;
  opacity: 1;
}

@media screen and (min-width: 576px) {
  nav.show {
    width: 50%;
    height: 40rem;
  }
  .dark-pink {
    height: 40rem;
  }
  .dark-pink.slide {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .wrap-menu {
    max-width: 1020px;
  }
  .hamburger-icon {
    display: none;
  }
  .dark-pink {
    display: none;
  }
  .l-main-nav {
    height: 10rem;
    background: unset;
    opacity: 100%;
    transition: unset;
    width: 100%;
  }
  .l-main-nav ul {
    position: relative;
    top: 0%;
    left: 0%;
    max-width: 55rem;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #a0541c;
  }
  .l-main-nav ul a {
    list-style: none;
    font-size: 1rem;
    color: #a0541c;
    text-transform: unset;
    letter-spacing: 1px;
  }
  .l-main-nav ul a:hover {
    color: #c0898b;
  }
  .wrap-menu {
    max-width: 1000px;
    margin: 0 auto;
  }
  .l-main-nav ul {
    width: 90%;
  }
}
.l-footer {
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 0;
}

.footer-social a {
  display: inline-flex;
  justify-content: space-evenly;
  width: 3rem;
  margin: 0 0.5rem;
}

.fa-brands {
  color: #def5f6;
  font-size: 2.5rem;
}

.fa-brands:hover {
  color: #bd797b;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  color: #def5f6;
}

.carousel {
  margin: 0 5%;
}

ul.slides {
  display: block;
  border-radius: 5px;
  position: relative;
  height: 350px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 400px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}

input:checked + .slide-container .nav label {
  display: block;
}

@media screen and (min-width: 576px) {
  .slide-image {
    width: 100%;
    height: 100%;
  }
  .carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 10%;
  }
  .carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 10%;
  }
}
@media screen and (min-width: 992px) {
  .carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 20%;
  }
  .carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 20%;
  }
}
.google-maps-wrap {
  margin: 5rem 0 0 0;
}
.google-maps-wrap h2 {
  text-transform: uppercase;
  margin: 0 auto 2rem auto;
  text-align: center;
  color: #def5f6;
  border-bottom: solid 4px #def5f6;
  width: 100%;
}
.google-maps-wrap img {
  border-radius: 10px;
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

@media screen and (min-width: 576px) {
  .google-maps-wrap h2 {
    text-transform: uppercase;
    margin: 0 auto 2rem auto;
    max-width: 45%;
  }
}
.last-4-registrated {
  margin: 4rem 0 0 0;
}
.last-4-registrated h2 {
  text-transform: uppercase;
  margin: 0 auto 2rem auto;
  text-align: center;
  color: #def5f6;
  border-bottom: solid 4px #def5f6;
  width: 100%;
}

.last-4-registrated-wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  text-align: center;
  line-height: 8rem;
  color: #def5f6;
  border-radius: 0.8rem;
  transform-style: preserve-3d;
}

.face {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.face--front img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 0.8rem;
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.face--back {
  background: #c0898b;
  font-size: 0.5rem;
  transform: rotateY(180deg);
  color: #def5f6;
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.card:hover .face--front {
  transform: rotateY(-180deg);
}

.card:hover .face--back {
  transform: rotateY(0deg);
}

@media screen and (min-width: 576px) {
  .last-4-registrated h2 {
    text-transform: uppercase;
    margin: 0 auto 2rem auto;
    max-width: 45%;
  }
}
.highlight-service-wrap {
  margin: 5rem 0 0 0;
}
.highlight-service-wrap h2 {
  text-transform: uppercase;
  margin: 0 auto 2rem auto;
  text-align: center;
  color: #def5f6;
  border-bottom: solid 4px #def5f6;
  width: 100%;
}

.highlight-service {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  height: 12rem;
  background-color: #def5f6;
  border-radius: 10px;
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

@media screen and (min-width: 576px) {
  .highlight-service-wrap h2 {
    text-transform: uppercase;
    margin: 0 auto 2rem auto;
    max-width: 45%;
  }
}
.main-search-bar-wrap {
  width: 85%;
  margin: 2rem auto 3rem auto;
}

.main-search-bar {
  width: 100%;
  position: relative;
  display: flex;
}

.main-search-input {
  width: 100%;
  border: 3px solid #c0898b;
  border-right: none;
  padding: 5px;
  height: 2rem;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #d2a1a3;
}

.main-search-input::placeholder {
  color: #c0898b;
}

.main-search-input:focus {
  color: #a0541c;
}

.main-search-button {
  width: 40px;
  height: 2rem;
  border: 1px solid #c0898b;
  background: #c0898b;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}
.main-search-button:hover {
  color: #a0541c;
}

.main-search-button:focus {
  color: #c0898b;
}

@media screen and (min-width: 992px) {
  .main-search-bar-wrap {
    width: 65%;
  }
}
.parallax-container {
  margin: 3rem 0 0 0;
  text-align: center;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-size: cover;
  background-position: center;
  /*  C'est ce qui rend le truc cool :  */
  background-attachment: fixed;
}

.blank {
  width: 100%;
  min-height: 5rem;
}

.second {
  background-image: url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-attachment: fixed;
  height: 40rem;
}

/*# sourceMappingURL=screen.css.map */
