.service-list-count {
  text-align: center;
  color: rgba(128, 128, 128, 0.538);
  margin: 0.8rem 0 0 0;
}

.service-list-wrap {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
}

.service-card {
  margin: 3rem 1rem 0 1rem;
  width: 15rem;
  height: 15rem;
  background-color: #c9e9eb;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 12px 38px 5px $third-color;
  transition: 0.3s;

  &.service-card:hover {
    box-shadow: 0 8px 16px 0 $dark-third-color;
  }

  h3 {
    margin: 0 0 0.5rem 0;
    text-align: center;
    color: $darker-pink;
    font-size: 1rem;
    font-weight: bold;
  }

  img {
    width: 15rem;
    height: 12rem;
    border-radius: 5px;
  }
}

// ****************************************************************

@media screen and (min-width: $tablet-break) {
  .service-list-wrap {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
  }

  .service-card {
    margin: 3rem 0 0 0;
    max-width: 20rem;
  }
}

// ****************************************************************

@media screen and (min-width: $laptop-break) {
  .service-list-wrap {
    margin: 2rem 3rem 1rem 3rem;
  }
}
