.service-detail-wrap {
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  border-radius: 5px;

  img {
    display: flex;
    margin: 0 auto;
    min-width: 50%;
  }
}

.service-detail-description {
  display: flex;
  justify-content: center;

  p {
    color: $black-pink;
    margin: 0 0 1.5rem 0;
    text-align: start;
  }
}

.prestaire-last-registrated-wrap {
  margin: 2rem;
  padding: 1rem;
  border: solid 1px $darker-pink;
  border-radius: 5px;

  h3 {
    color: $darker-pink;
    font-size: 1.5rem;
  }
}

.partenaire-last-registrated-title {
  text-align: center;
  color: $darker-pink;
  font-size: 1.5rem;
}

// ****************************************************************

@media screen and (min-width: $laptop-break) {
  .service-detail-wrap {
    display: flex;
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-radius: 5px;

    img {
      display: flex;
      margin: 0 auto;
      min-width: 50%;
      max-width: 70%;
    }
  }

  .service-detail-description {
    display: flex;
    justify-content: center;

    p {
      font-size: 1.2rem;
      margin: auto 0;
      min-width: 50%;
      max-width: 80%;
    }
  }
}
