.presataire-detail-wrap {
  margin: 2rem;
  padding: 1rem;
  border: solid 1px $darker-pink;
  border-radius: 5px;

  h2 {
    color: $darker-pink;
    font-size: 1.5rem;
  }

  p {
    color: $black-pink;
    margin: 1rem 0 0 0;
  }
}

.prestaire-last-registrated-wrap {
  margin: 2rem;
  padding: 1rem;
  border: solid 1px $darker-pink;
  border-radius: 5px;

  h3 {
    color: $darker-pink;
    font-size: 1.5rem;
  }
}

.prestaire-last-registrated {
  color: $black-pink;
}

.prestaire-last-registrated-cards-wrap {
  margin: 1rem 0 0 0;
}
