.partenaire-registration-title {
  display: block;
  padding: 0 5rem;
  margin: 2rem auto 0 auto;
  color: $darker-third-color;
  text-align: center;
}

.form-register {
  margin: 4rem auto 0 auto;
  max-width: 35rem;
  display: grid;
  grid-template-rows: 1fr;
  width: 80%;
}

.form-register-input {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 0 0.5rem 0;

  label {
    text-align: start;
    color: $darker-third-color;
  }

  input,
  textarea {
    margin: 0 auto 0.5rem auto;
    width: 100%;
    border: 1px solid $third-color;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    color: $third-color;
    background-color: $secondary-transparent;
  }

  select {
    margin: 0 auto 0.5rem auto;
    width: 100%;
    border: 1px solid $third-color;
    height: 100%;
    border-radius: 10px;
    outline: none;
    color: $third-color;
    background-color: $secondary-transparent;
  }
}

.form-register-input-date {
  display: block;
  margin: 0 auto;
  justify-content: center;

  label {
    text-align: start;
    color: $darker-third-color;
  }

  select {
    margin: 0 auto 0.5rem auto;
    border: 1px solid $third-color;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    color: $third-color;
    background-color: $secondary-transparent;
  }
}

.form-register-input-multiple-select {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 0 0.5rem 0;

  label {
    text-align: start;
    color: $darker-third-color;
  }

  select {
    margin: 0 auto 0.5rem auto;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    border: 1px solid $third-color;
    height: 100%;
    border-radius: 10px;
    outline: none;
    color: $third-color;
    background-color: $secondary-transparent;

    option:focus,
    option:checked {
      background: $salmon-light;
      color: $darker-pink;
    }
  }
}

.register-form-input-password {
  margin: 1rem 0 0 0;

  label {
    text-align: center;
    color: $darker-third-color;
  }

  input {
    margin: 0 auto 1rem auto;
    width: 100%;
    border: 1px solid $third-color;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    color: $third-color;
    background-color: $secondary-transparent;
  }
  p {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    color: $third-color;
  }
}

.register-form-submit {
  padding: 0rem;
  margin: 1rem auto 0 auto;
  width: 8.5rem;
  height: 1.8rem;
  border: 1px solid $third-color;
  background: $third-color;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  &:hover {
    color: $darker-pink;
  }
}

.alert-danger {
  height: 2rem;
  width: 100%;
  background-color: aquamarine;
}

.registration-form-conditions {
  width: 80%;
  margin: 1rem auto 0 auto;
  text-align: center;
  p {
    color: $dark-third-color;
  }
  a {
    color: $third-color;
    &:hover {
      color: $smooth-minth;
    }
  }
}
