{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block titreh1 %}
    A propos
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}

    <h3>A propos de Bien-être</h3>
    <p>Le site bien-être a été fondé en 1834 par Eugène Google et Tom Facebook</p>

{% endblock %}
