<form method="post" action="{{ path('app_prestataire_delete', {'id': prestataire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestataire.id) }}">
    <button class="btn">Delete</button>
</form>
