{% extends 'base.html.twig' %}

{% block title %}Edit Prestataire{% endblock %}

{% block body %}
    <h1>Edit Prestataire</h1>

    {{ include('prestataire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_prestataire_index') }}">back to list</a>

    {{ include('prestataire/_delete_form.html.twig') }}
{% endblock %}
