.partenaires-list-wrap {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
}

.countPrestataireFound {
  text-align: center;
  color: rgba(128, 128, 128, 0.538);
  margin: 0.8rem 0 0 0;
}

.register-as-prestataire-link {
  text-align: center;
  margin: 0.5rem 0 0 0;

  a {
    color: $dark-third-color;
  }
  a:hover {
    color: $smooth-minth;
  }
}

.partenaires-card {
  margin: 2rem 0.5rem 0 0.5rem;
  width: 8rem;
  height: 10.5rem;
  background-color: $dark-third-color;
  border-radius: 10px;
  box-shadow: 0px 29px 38px -15px $third-color;
  transition: 0.3s;

  &.partenaires-card:hover {
    box-shadow: 0 8px 16px 0 $third-color;
  }

  h3 {
    margin: 0 0 0.5rem 0;
    text-align: center;
    color: $smooth-minth;
    font-size: 0.7rem;
    font-weight: bold;
  }
}

.aucun-resultat-prestataire {
  text-align: center;
  color: $black-pink;
}

.prestataire_img {
  border-radius: 5px 5px 0 0;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.aucun-resultat-prestataire {
  margin: 4rem 2rem;
  text-align: center;
  height: 5rem;
  p {
    font-size: 1.2rem;
    color: $black-pink;
  }
}

.partenaire-avatar {
  margin: 4rem 0 0 0;
  text-align: center;
  img {
    width: 7rem;
    height: 9rem;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 0px 29px 38px -15px $third-color;
  }
}

// ****************************************************************

@media screen and (min-width: $tablet-break) {
  .partenaires-list-wrap {
    margin: 2rem 1rem 1rem 1rem;
    justify-items: center;
  }

  .partenaires-card {
    width: 10rem;
    height: 12.5rem;
  }

  .prestataire_img {
    width: 10rem;
    height: 10rem;
  }
}

// ****************************************************************

@media screen and (min-width: $laptop-break) {
  .partenaires-list-wrap {
    margin: 2rem 3rem 1rem 3rem;
  }
}
