.profil-prest-avatar {
  margin: 4rem 0 0 0;
  text-align: center;
  img {
    width: 7rem;
    height: 9rem;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 0px 29px 38px -15px $third-color;
    &:hover {
      border: solid 2px $smooth-minth;
    }
  }
  a {
    text-align: center;
  }
  h3 {
    color: $darken-pink;
  }
}

.prestataire-detail-link-crud {
  display: block;
  margin: 1rem auto 0.5rem auto;
  text-align: center;
  color: $salmon;
  font-size: 1.2rem;
  padding: 0.2rem;
  &:hover {
    color: $minth;
  }
}

.prestataire-detail {
  border-radius: 5px;
  max-width: 55rem;
  margin: 4rem auto 0 auto;
  padding: 1rem;
  box-shadow: 0px 12px 38px 5px $shadow-1;
  transition: 0.3s;

  p {
    color: $dark-third-color;
  }

  li {
    color: $dark-third-color;
  }

  a {
    color: $minth;
  }
}

.prestataire-detail-list-title {
  margin: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  color: $black-pink;
}

.prestataire-detail-list {
  margin: 0.5rem 0 0 0;
  ul {
    margin: 0.8rem 0 0 0;
  }
  li {
    text-align: center;
    margin: 2rem;
  }
  p {
    text-align: center;
    color: $dark-third-color;
  }
  p > a {
    color: $black-pink;
    &:hover {
      color: $minth;
    }
  }
  li > a {
    color: $dark-third-color;
    font-size: 1.6rem;
    padding: 0.8rem;
    border: solid 1px $dark-third-color;
    border-radius: 5px;
  }
  li > a:hover {
    color: $smooth-minth;
  }
}

.prestataire-detail-empty-field {
  display: block;
  padding: 2rem 0;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  color: $darker-pink;
}

.prestataire-detail-stage {
  border-radius: 5px;
  margin: 2rem 1rem 0 1rem;
  padding: 1rem;
  box-shadow: 0px 12px 38px 5px $third-color;
  transition: 0.3s;
}

.prestataire-detail-stage-list-title {
  margin: 1rem 0 0 0;
  text-align: center;
  color: $black-pink;
  text-decoration: underline;
}

.prestataire-detail-stage-list {
  ul {
    margin: 0.8rem 0 0 0;
  }
  li {
    text-align: center;
    padding: 0.5rem 0 0 0;
  }
  a {
    color: $dark-third-color;
  }
  a:hover {
    color: $smooth-minth;
  }
}

.prestataire-detail-contact-title {
  margin: 1rem 0 0 0;
  text-align: center;
  color: $black-pink;
  text-decoration: underline;
}

.prestataire-detail-contact {
  border-radius: 5px;
  margin: 2rem 1rem 0 1rem;
  padding: 1rem;
  box-shadow: 0px 12px 38px 5px $third-color;
  transition: 0.3s;

  ul {
    margin: 0.8rem 0 0 0;
  }
  li {
    text-align: center;
    padding: 0.5rem 0 0 0;
    color: $dark-third-color;
    span {
      color: $black-pink;
    }
  }
  a {
    color: $dark-third-color;
  }
  a:hover {
    color: $smooth-minth;
  }
}

.mailto-prest {
  margin: 1.5rem 0;
  border: solid 1px $dark-third-color;
  border-radius: 5px;
  a {
    color: $black-pink;
    font-size: 1.2rem;
    font-weight: 800;
  }
}

.prestataire-detail-adress-title {
  margin: 1rem 0 1rem 0;
  text-align: center;
  color: $black-pink;
  text-decoration: underline;
}

.prestataire-detail-adress {
  border-radius: 5px;
  margin: 2rem 1rem 0 1rem;
  padding: 1rem;
  box-shadow: 0px 12px 38px 5px $third-color;
  transition: 0.3s;

  p {
    text-align: center;
    color: $dark-third-color;
  }
}

.gallery {
  margin: 2rem auto;
  display: flex;
  width: 100%;
  height: 20rem;
  img {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 1s;
  }
  img:hover {
    flex: 1 1 280px;
    opacity: 1;
  }
}

.prestataire-detail-add-comment-form {
  border-radius: 5px;
  margin: 2rem 1rem 0 1rem;
  padding: 1rem 0 2rem 0;
  box-shadow: 0px 12px 38px 5px $third-color;
}
.prestataire-detail-add-comment-form-title {
  margin: 1rem 0 2rem 0;
  text-decoration: underline;
  text-align: center;
  color: $black-pink;
  text-decoration: underline;
}

.prestataire-detail-add-comment-form-row {
  text-align: center;
  label {
    margin: 0.3rem 0 0.3rem 0;
    display: block;
    color: $black-pink;
  }
  input {
    display: block;
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    outline: none;
    color: $dark-third-color;
    background-color: $secondary-transparent;
    font-size: 1rem;
  }
  textarea {
    display: block;
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    border-radius: 5px;
    color: $dark-third-color;
    background-color: $secondary-transparent;
    font-size: 1rem;
    outline: none;
    resize: none;
  }
}

.prestataire-detail-add-comment-form-submit {
  margin: 1rem auto 0;
  text-align: center;
  button {
    width: 30%;
    padding: 0rem;
    margin: 0.5rem 0 0.5rem 0;
    height: 2rem;
    border: 1px solid $third-color;
    background: $third-color;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      color: $darker-pink;
    }
  }
}

.prestataire-gallery-manage-title {
  display: block;
  margin: 2rem auto 0 auto;
  text-align: center;
  color: $darker-pink;
  font-size: 1.5rem;
}

.form-file-input {
}

.submit-form-button {
}

.prestataire-gallery-manage-photos-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
  a {
    color: $darken-pink;
    margin: 2rem 0.5rem;
    &:hover {
      color: $minth;
    }
  }
}

.prestataire-gallery-manage-photos {
  img {
    padding: 1rem;
  }
  display: grid;
  grid-template-rows: 1fr;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: solid 2px $dark-third-color;
}

.back-to-prestataire-detail {
  display: block;
  text-align: center;
  margin: 2rem auto 0 auto;
  color: $dark-third-color;
}
