

.google-maps-wrap{

    margin: 9rem 1.5rem 0 1.5rem;

    h2{
        text-transform: uppercase;
        margin: 0 auto 2rem auto;
        text-align: center;
        background-color: $third-color-light;
        color: $darker-third-color;
        border-bottom: solid 4px $dark-third-color;
        border-radius: 15px;
        width: 100%;
    }

    img{
        border-radius: 10px;
        box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    }
}



// ****************************************************************


@media screen and (min-width: $tablet-break) {

    .google-maps-wrap{
    
        margin: 5rem 2rem 0 2rem;

        h2{
            text-transform: uppercase;
            margin: 0 auto 2rem auto;
            max-width: 45%;
        }
    }

}