
.ease-in-title {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      color:#ffa328;
      font-size: 3rem;
      animation: shotup 900ms ease-in-out;
      animation-delay: 300ms;
    }
  }




  @media screen and (min-width: $tablet-break){

    .ease-in-title {

      h1 {
        font-size: 4rem;
      }
    }
  }