

// gestion de l'effet parralax 

.parallax-container {
    margin: 3rem 0 0 0;
    text-align: center;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/wallpaper/wallpaper4.jpg');
    background-size: cover;
    background-position: center;
    
  /*  C'est ce qui donne cet effet si cool :  */
    background-attachment: fixed;
  }
  
  .blank{
    width: 100%;
    min-height: 5rem;
  }
  
  .second {
    background-image:url('../images/wallpaper/wallpaper1.jpeg');
    background-attachment: fixed;
  
    height: 40rem;
  }