

// largeur de la barre de recherche
.main-search-bar-wrap{
    width: 70%;
    position: relative;
    left: 25%;
    top: 2.5rem;
}

.main-search-bar{
    width: 100%;
    display: flex;
}

// input de la barre et bordures
.main-search-input{
    width: 100%;
    border: 1px solid $third-color;
    border-right: none;
    padding: 5px;
    height: 2rem;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: $third-color;
}

// couleur du texte dans le placeholder
.main-search-input::placeholder{
    color: $third-color;
}

// couleur du texte ecrit dans la barre de recherche
.main-search-input:focus{
    color: $darker-third-color;
}

// gestion du bouton
.main-search-button{
    width: 40px;
    height: 2rem;
    border: 1px solid $third-color;
    background: $third-color;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;

    &:hover{
        color: $darker-pink;
    }
}


  // ****************************************************************

  @media screen and (min-width: $laptop-break){


.main-search-bar-wrap{
    width: 50%;
    position: relative;
    top: 4.5rem;
}

  }