{% extends 'base.html.twig' %}

{% block title %}
	Prestataire inscription
{% endblock %}

{% block titreh1 %}
  Inscription prestataire
{% endblock %}

{% block body %}

<h1>C'est ici que ça se passe pour devenir prestataire!</h1>


{% endblock %}
