{% extends 'base.html.twig' %}

{% block title %}
	Prestataire inscription
{% endblock %}

{% block titreh1 %}
  Inscription prestataire
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}

<h3>Plus que quelques clics avant de faire partie de nos prestataires!</h3>

{{ form(PrestataireForm) }}

{% endblock %}
