{% extends 'base.html.twig' %}

{% block title %}Nos partenaires
{% endblock %}

{% block titreh1 %}
	<h1>Prestataires</h1>
{% endblock %}

{% block searchForm %}
	{# {{ render(path('searchForm')) }} #}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
<a href="#">Devenir prestataire</a>
	{% if partenaires %}
		<div class="partenaires-list-wrap">
			{% for partenaire in partenaires %}
				<a class="partenaires-card" href="{{path('detailPartenaire',{id : partenaire.id})}}">
					<h3>{{partenaire.nom}}</h3>
					<img class="prestaire_img" src="{{ asset('images/avatars/' ~ partenaire.images[0]) }}" alt="avatar du prestataire"/>
				</a>
			{% endfor %}
		</div>
		{% else %}
			<div class="aucun-resultat-prestataire">
				<p>Désolé, il n'y a aucun prestataire correspondant à votre recherche</p>
			</div>
	{% endif %}
		
{% endblock %}
