{% extends 'base.html.twig' %}

{% block title %}Modifier photo de profil{% endblock %}

{% block titreh1 %}
	<h1>Photo de profil</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}

{{ form_start(form, {
		'attr': {'class': 'user-profile-adress-form'}})
		}}
	{{ form_widget(form.imageFile, {
		'attr': {'class': 'browse-file-input'},
		}) 
	}}
	{{ form_row(form.enregistrer, {
		'attr': {'class': 'main-search-button'}
	}) }}
{{form_end(form)}}

{% endblock %}