{% extends 'base.html.twig' %}

{% block title %}ajout stage{% endblock %}

{% block titreh1 %}
	<h1>Ajouter un stage</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}


{% block body %}
      <a href="{{path ("profil_prest", {id: app.user.prestataire.id})}}">retour sur ma page de profil</a>
{{ form_start(form) }}

{{form_end(form)}}

{% endblock %}