{% extends 'base.html.twig' %}

{% block title %}
  Modifier adresse
{% endblock %}

{% block titreh1 %}
  <h1>
    Modifier adresse
  </h1>
{% endblock %}

{% block searchForm %}
  {% embed '_searchFormToggle.html.twig' %}

  {% endembed %}
{% endblock %}

{% block body %}
  <a class="back-to-prestataire-detail"
    href="{{
    path(
      'profil_prest',
      {
        id: app.user.prestataire.id
      }
    )
    }}">
    retour sur ma page de profil
  </a>

  {{ form(form) }}
{% endblock %}
