{% extends 'base.html.twig' %}

{% block title %}
  Contact
{% endblock %}

{% block titreh1 %}
  Contact
{% endblock %}

{% block searchForm %}
  {% embed '_searchFormToggle.html.twig' %}

  {% endembed %}
{% endblock %}

{% block body %}
  <a href="mailto:contact@bienetre.com">Nous contacter par email</a>
{% endblock %}
