{# Bouton affichage/masquage du formulaire #}
<button id="search-button-toggle"><i class="fa fa-search"></i></button>

<div class="search-bar-wrap" id="search-bar-wrap">
  <div class="main-search-bar-wrap">
    <form name="prestataire_search" method="get" action="{{ path('home') }}">
      <div>
        <label class="main-search-label">Nom du prestataire</label>
        <input class="main-search-input" type="text" name="nom" />
      </div>
      <div>
        <label class="main-search-label">Catégorie de service</label>
        <input class="main-search-input" type="text" name="categorie" />
      </div>
      <div>
        <label class="main-search-label">Localité</label>
        <select class="main-search-input"
          type="select"
          name="localite"
          id="prestataire_search_localite">
          <option value="">
            - Selection -
          </option>
          <option value="région Bruxelles capitale">
            région Bruxelles capitale
          </option>
          <option value="province de liège">
            province de Liège
          </option>
          <option value="province du hainaut">
            province du hainaut
          </option>
          <option value="province du brabant wallon">
            province du brabant wallon
          </option>
          <option value="province d'anvers">
            province d'anvers
          </option>
          <option value="province de flandre occidentale">
            province de flandre occidentale
          </option>
          <option value="province de flandre orientale">
            province de flandre orientale
          </option>
          <option value="province du brabant flamand">
            province du brabant flamand
          </option>
          <option value="province du brabant flamand (Louvain)">
            province du brabant flamand (Louvain)
          </option>
          <option value="province du luxembourg">
            province du luxembourg
          </option>
          <option value="province du limbourg">
            province du limbourg
          </option>
          <option value="province de namur">
            province de namur
          </option>
        </select>
      </div>
      <div>
        <label class="main-search-label">Commune</label>
        <select class="main-search-input"
          type="text"
          name="commune"
          id="prestataire_search_commune">
          <option value="">
            - Selection -
          </option>
        </select>
      </div>
      <div>
        <label class="main-search-label">Code postal</label>
        <select class="main-search-input"
          type="text"
          name="codePostal"
          id="prestataire_search_cp">
          <option value="">
            - Selection -
          </option>
        </select>
      </div>
      <div>
        <button class="main-search-button" type="submit" name="submit">
          Rechercher
        </button>
      </div>
    </form>
  </div>
</div>
