<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset ('css/screen.css')}}">
			<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		{% endblock %}
	</head>
	<body>
		{% block nav %}
			<div class="hamburger-icon" id="icon">
				<div class="icon-1" id="a"></div>
				<div class="icon-2" id="b"></div>
				<div class="icon-3" id="c"></div>
				<div class="clear"></div>
			</div>
			<div class="wrap-menu">
				<nav class="l-main-nav" id="nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">à propos</a></li>
						<li><a href="#">partenaires</a></li>
						<li><a href="#">par région</a></li>
						<li><a href="#">stages</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</nav>
				<div class='l-main-logo'>
					<img src="{{asset ('images/logo-main.png')}}" alt="image-logo">
				</div>
			</div>
			<div class="dark-blue" id="blue"></div>
		{% endblock %}

		<div class="ease-in-title"> {% block titreh1 %}{% endblock %}

			</div>
		</body>
	</html>
</div>
{% block body %}{% endblock %}
{% block footer %}
	<p>Affichage des reseaux sociaux (footer) + crédits et copyright</p>
{% endblock %}
{% block javascripts %}
	<script src="{{asset ('js/main.js')}}"></script>
{% endblock %}</body></html>
