{% extends 'base.html.twig' %}

{% block title %}
Service {{stage.nom}}
{% endblock %}

{% block titreh1 %}
	<h1>{{stage.nom}}</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
	<article>
		<div class="">		
			<h2>Stage {{stage.nom}}</h2>
			<p>{{stage.description}}</p>
		</div>
	</article>
{% endblock %}
