{% extends 'base.html.twig' %}

{% block title %}Hello StageController!
{% endblock %}
{% block titreh1 %}
	<h1>Stages proposés</h1>
{% endblock %}
{% block body %}
	<div class="stage-list-wrap">
		{% for stage in stages %}
			<a class="stage-card" href="">
				<h3>{{stage.nom}}</h3>
				<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service">
			</a>
		{% endfor %}
	{% endblock %}
